
<div class="body-bg">
	{{#if video_viewed}}
		<div class="bg-list">
			<ul>
				<li><img src="./img/bg1.webp"></li>
				<li><img src="./img/bg2.webp"></li>
				<li><img src="./img/bg3.webp"></li>
				<li><img src="./img/bg4.webp"></li>
			</ul>		
		</div>	
	{{else}}
			<div class="intro-video">
			<video autoplay>
			<source src="./video/Inkedintro.mp4" type="video/mp4"/>
			</video>
		</div>
	{{/if}}
	<div class="bg-list" id="bg-list-hidden">
		<ul>
			<li><img src="./img/bg1.webp"></li>
			<li><img src="./img/bg2.webp"></li>
			<li><img src="./img/bg3.webp"></li>
			<li><img src="./img/bg4.webp"></li>
		</ul>		
	</div>
	<div class="bg-controller">
		<nav aria-label="p&n">
		  <ul class="pager">
		    <li><span class="glyphicon glyphicon-chevron-left" id="prev"></span></li>
		    <li><span class="glyphicon glyphicon-chevron-right" id="next"></span></li>
		  </ul>
		</nav>			
	</div>
</div>
<div class="wanted-show" id="vote">
	<div class="container-fluid">
	<div class="row">
	  <div class="col-sm-4 col-lg-2 col-md-3 col-xs-6">
	    <div class="thumbnail">
	      <img src="./img/wanted/chopper.png" alt="...">
	      <div class="caption">
	        <div class='characterName'>Chopper</div>
	        <p class="intro">He is weak</p>
	        <p><div class="btn btn-primary vote"> Upvote</div>
	      </div>
	    </div>
	  </div>
	  <div class="col-sm-4 col-lg-2 col-md-3 col-xs-6">
	    <div class="thumbnail">
	      <img src="./img/wanted/luffy.png" alt="...">
	      <div class="caption">
	        <div class='characterName'>Luffy</div>
	        <p class="intro">I will be th pirate king!</p>
	        <div class="btn btn-primary vote">Upvote</div>
	      </div>
	    </div>
	  </div>
	  <div class="col-sm-4 col-lg-2 col-md-3 col-xs-6">
	    <div class="thumbnail">
	      <img src="./img/wanted/nami.png" alt="...">
	      <div class="caption">
	        <div class='characterName'>Nami</div>
	        <p class="intro">Intimidating to Luffy</p>
	        <div class="btn btn-primary vote">Upvote</div>
	      </div>
	    </div>
	  </div>
	  <div class="col-sm-4 col-lg-2 col-md-3 col-xs-6">
	    <div class="thumbnail">
	      <img src="./img/wanted/robin.png" alt="...">
	      <div class="caption">
	        <div class='characterName'>Robin</div>
	        <p class="intro">A thousand hands</p>
	        <div class="btn btn-primary vote">Upvote</div>
	      </div>
	    </div>
	  </div>		  		  		  
	  <div class="col-sm-4 col-lg-2 col-md-3 col-xs-6">
	    <div class="thumbnail">
	      <img src="./img/wanted/sanji.png" alt="...">
	      <div class="caption">
	        <div class='characterName'>Sanji</div>
	        <p class="intro">Better than Zoro</p>
	       <div class="btn btn-primary vote">Upvote</div>
	      </div>
	    </div>
	  </div>
	  <div class="col-sm-4 col-lg-2 col-md-3 col-xs-6">
	    <div class="thumbnail">
	      <img src="./img/wanted/zoro.png" alt="...">
	      <div class="caption">
	        <div class='characterName'>Robin</div>
	        <p class="intro">Better than Sanji</p>
	        <div class="btn btn-primary vote">Upvote</div>
	      </div>
	    </div>
	  </div>			  			  
	</div>
</div>
</div>	
