
<div class="body-bg">		
	<div class="bg-list">
		<ul>
			<li><img src="./img/bg1.webp"></li>
			<li><img src="./img/bg2.webp"></li>
			<li><img src="./img/bg3.webp"></li>
			<li><img src="./img/bg4.webp"></li>
		</ul>		
	</div>
	<div class="bg-controller">
		<nav aria-label="p&n">
		  <ul class="pager">
		    <li><span class="glyphicon glyphicon-chevron-left" id="prev"></span></li>
		    <li><span class="glyphicon glyphicon-chevron-right" id="next"></span></li>
		  </ul>
		</nav>			
	</div>
</div>
<div class="wanted-show" id="vote">
	<div class="container-fluid">
	<div class="row">
	  <div class="col-sm-4 col-lg-2 col-md-3 col-xs-6">
	    <div class="thumbnail">
	      <img src="./img/wanted/chopper.png" alt="...">
	      <div class="caption">
	        <h3>Chopper</h3>
	        <p class="intro">He is weak</p>
	        <p><a href="#vote" class="btn btn-success vote" role="button">Upvote</a></p>
	      </div>
	    </div>
	  </div>
	  <div class="col-sm-4 col-lg-2 col-md-3 col-xs-6">
	    <div class="thumbnail">
	      <img src="./img/wanted/luffy.png" alt="...">
	      <div class="caption">
	        <h3>Luffy</h3>
	        <p class="intro">I will be th pirate king!</p>
	        <p><a href="#vote" class="btn btn-success vote" role="button">Upvote</a></p>
	      </div>
	    </div>
	  </div>
	  <div class="col-sm-4 col-lg-2 col-md-3 col-xs-6">
	    <div class="thumbnail">
	      <img src="./img/wanted/nami.png" alt="...">
	      <div class="caption">
	        <h3>Nami</h3>
	        <p class="intro">Intimidating to Luffy</p>
	        <p><a href="#vote" class="btn btn-success vote" role="button">Upvote</a></p>
	      </div>
	    </div>
	  </div>
	  <div class="col-sm-4 col-lg-2 col-md-3 col-xs-6">
	    <div class="thumbnail">
	      <img src="./img/wanted/robin.png" alt="...">
	      <div class="caption">
	        <h3>Robin</h3>
	        <p class="intro">A thousand hands</p>
	        <p><a href="#vote" class="btn btn-success vote" role="button">Upvote</a></p>
	      </div>
	    </div>
	  </div>		  		  		  
	  <div class="col-sm-4 col-lg-2 col-md-3 col-xs-6">
	    <div class="thumbnail">
	      <img src="./img/wanted/sanji.png" alt="...">
	      <div class="caption">
	        <h3>Sanji</h3>
	        <p class="intro">Better than Zoro</p>
	        <p><a href="#vote" class="btn btn-success vote" role="button">Upvote</a></p>
	      </div>
	    </div>
	  </div>
	  <div class="col-sm-4 col-lg-2 col-md-3 col-xs-6">
	    <div class="thumbnail">
	      <img src="./img/wanted/zoro.png" alt="...">
	      <div class="caption">
	        <h3>Robin</h3>
	        <p class="intro">Better than Sanji</p>
	        <p><a href="#vote" class="btn btn-success vote" role="button">Upvote</a></p>
	      </div>
	    </div>
	  </div>			  			  
	</div>
</div>
</div>	
