

	
    <div class="modal-content">
        <div class="modal-body">
			<form id="loginForm" action="/login">
				<ul>
					<li class="inputContent">
						<div class="inputInfo"><span class="red">*</span>Username：</div>
						<input name="username" id="loginUsername" class="inputValue" type="text"  maxlength="20" style="" data-toggle="popover" data-placement="right" data-content="At least 6 chars">
						<div class="glyIcon"></div>								
					</li>
					<li class="inputContent" id="emaili">
						<div class="inputInfo"><span class="red">*</span>E-mail：</div>
						<input name="email" id="loginEmail" class="inputValue" type="email" maxlength="50"  data-toggle="popover" data-placement="right" data-content="Please enter your email in correct form">
						<div class="glyIcon"></div>		
					</li>
					<li class="inputContent" id="passwordli">		
						<div class="inputInfo"><span class="red">*</span>Password：</div>
						<input name="psw" id="loginPassword" class="inputValue" type="password"  maxlength="20" data-toggle="popover"
						data-placement="right" data-content="Make sure password fortmat is correct">
						<div class="glyIcon"></div>		
					</li>		
					<li class="inputContent">		
						<div class="inputInfo"><span class="red">*</span>Re-Password：</div>
						<input name="repsw" id="loginRePassword" class="inputValue" type="password"  maxlength="20" data-toggle="popover"
						data-placement="right" data-content="Please enter the password above">
						<div class="glyIcon"></div>		
					</li>					
				</ul>
				 <div type="button" id="loginSubmit" class="btn btn-primary">Submit</div>
				<br>					
			</form>	            	
        </div>
        <div class="modal-footer">
           
        </div>
    </div>