<div class="signupBox">
	<form id="signupForm" action="/users/signup" method="post">
		<ul>
			<li class="inputContent">
				<div class="inputInfo"></span>Username：</div>
				<input name="username" id="signupUsername" class="inputValue" type="text"  maxlength="20" style="" data-toggle="popover" data-placement="right" data-content="At least 6 characters">
				<div class="glyIcon"></div>										
			</li>
			<li class="inputContent">
				<div class="inputInfo"></span>E-mail：</div>
				<input name="email" id="signupEmail" class="inputValue" type="email"  maxlength="50"  data-toggle="popover" data-placement="right" data-content="Please enter your email in correct form">
				<div class="glyIcon"></div>		
			</li>
			<li class="inputContent">		
				<div class="inputInfo"></span>Verify Code：</div>
				<div class="verifyBox">
					<div class="btn btn-success" id="v-email">Click Me</div>
				</div>
				<input name="ycode" id="ycode" class="inputValue" type="text"  maxlength="20"  data-toggle="popover" data-placement="right" data-content="Please enter 4 digits">
				<div class="glyIcon"></div>		
			</li>	
			<li class="inputContent">		
				<div class="inputInfo"></span>Password：</div>
				<input name="password" id="signupPassword" class="inputValue" type="text"  maxlength="20" data-toggle="popover" data-placement="right" data-content="Any password you like">
				<div class="glyIcon"></div>		
			</li>		
			<li class="inputContent">		
				<div class="inputInfo"></span>Re-Password：</div>
				<input name="repsw" id="repsw" class="inputValue" type="text"  maxlength="20" data-toggle="popover" data-placement="right" data-content="Please enter the same password">
				<div class="glyIcon"></div>		
			</li>	
			<li class="inputContent">
				<div class="inputInfo"></div>
				<div class="verifyBox">
					<button type="submit" class="btn btn-primary">Submit</button> 
				</div>
				<div style="width: 40px"></div>
			</li>				
		</ul>			
	</form>	 
	{{#if errors}}
		{{#each errors}}
			<div class="alert alert-danger">{{msg}}</div>
		{{/each}}
	{{/if }}       	
</div>