		<div class="signupBox">
	        <div class="modal-content ">
	            <div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	                <h3 class="modal-title" id="myModalTitle">Sign Up</h3>
	            </div>
	            <div class="modal-body">
					<form id="signupForm">
						<ul>
							<li class="inputContent">
								<div class="inputInfo"><span class="red">*</span>Username：</div>
								<input name="username" id="signupUsername" class="inputValue" type="text"  maxlength="20" style="" data-toggle="popover" data-placement="right" data-content="At least 6 chars">
								<div class="glyIcon"></div>										
							</li>
							<li class="inputContent" id="emaili">
								<div class="inputInfo"><span class="red">*</span>E-mail：</div>
								<input name="email" id="signupEmail" class="inputValue" type="email"  maxlength="50"  data-toggle="popover" data-placement="right" data-content="Please enter your email in correct form">
								<div class="glyIcon"></div>		
							</li>
							<li class="inputContent" id="ycodeli">		
								<div class="inputInfo"><span class="red">*</span>Verify Code：</div>
								<div class="verifyBox">
									<div class="btn btn-success" id="v-email">Click Me</div>
								</div>
								<input name="ycode" id="ycode" class="inputValue" type="text"  maxlength="20"  data-toggle="popover"
								data-placement="right" data-content="Please enter 4 digits">
								<div class="glyIcon"></div>		
							</li>	
							<li class="inputContent" id="signupPassword">		
								<div class="inputInfo"><span class="red">*</span>Password：</div>
								<input name="psw" id="password" class="inputValue" type="password"  maxlength="20" data-toggle="popover"
								data-placement="right" data-content="Make sure password fortmat is correct">
								<div class="glyIcon"></div>		
							</li>		
							<li class="inputContent">		
								<div class="inputInfo"><span class="red">*</span>Re-Password：</div>
								<input name="repsw" id="repsw" class="inputValue" type="password"  maxlength="20" data-toggle="popover"
								data-placement="right" data-content="Please enter the password above">
								<div class="glyIcon"></div>		
							</li>					
						</ul>
						<br>					
					</form>	            	
	            </div>
	            <div class="modal-footer">
	                <div type="button" id="signupSubmit" class="btn btn-primary">Submit</div>
	            </div>
	        </div>
	    </div>