		<div class="signupBox">
	        <div class="modal-content ">
	            <div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	                <h3 class="modal-title" id="myModalTitle">Sign Up</h3>
	            </div>
	            <div class="modal-body">
					<form id="form1">
						<ul>
							<li class="zc-iptbox">
								<span class="label1"><span class="red">*</span>Username：</span>
								<input name="username" id="uname" class="zc-ipt t_val" type="text" placeholder="请输入您的用户名" maxlength="20" style="" data-toggle="popover" data-placement="right" data-content="At least 6 chars">								
							</li>
							<li class="zc-iptbox" id="emaili">
								<span class="label1"><span class="red">*</span>E-mail：</span>
								<input name="email" id="email" class="zc-ipt t_val" type="email" placeholder="请输入您的电子邮箱" maxlength="50"  data-toggle="popover" data-placement="right" data-content="Please enter your email in correct form">
							</li>
							<li class="zc-iptbox" id="ycodeli">		
								<span class="label1"><span class="red">*</span>Verify Code：</span>
								<div class="ycode-box">
									<div class="btn btn-success" id="v-email">Click Me</div>
								</div>
								<input name="ycode" id="ycode" class="zc-ipt t_val" type="text" placeholder="请输入4位邮箱验证码" maxlength="20"  data-toggle="popover"
								data-placement="right" data-content="Please enter 4 digits">
							</li>	
							<li class="zc-iptbox" id="passwordli">		
								<span class="label1"><span class="red">*</span>Password：</span>
								<input name="psw" id="password" class="zc-ipt t_val" type="password" placeholder="建议6-18位数字、字母、符号的组合" maxlength="20" data-toggle="popover"
								data-placement="right" data-content="Make sure password fortmat is correct">
							</li>		
							<li class="zc-iptbox">		
								<span class="label1"><span class="red">*</span>Password：</span>
								<input name="repsw" id="repsw" class="zc-ipt t_val" type="password" placeholder="再输一遍密码" maxlength="20" data-toggle="popover"
								data-placement="right" data-content="Please enter the password above">
							</li>					
						</ul>
						<br>					
					</form>	            	
	            </div>
	            <div class="modal-footer">
	                <div type="button" class="btn btn-default" data-dismiss="modal">Back</div>
	                <div type="button" id="submit" class="btn btn-primary">Submit</div>
	            </div>
	        </div>
	    </div>