#loginForm ul{
	padding:20px 50px 0px 0px;
}
#signupForm ul{
	padding:20px 50px 0px 0px;
}

.inputContent{
	margin-bottom: 12px;
	font-size: 15pt;
	display: flex;
	justify-content: center;
}
.inputInfo{
	width: 200px;
	margin-right: 20px;
}
.red{
	color: #ff8650;
}

.buttonBox{
	width: 273px;
	height: 48px;
	display: block;
}

.mailbutton{
	margin-left: 0;
	color: white;
	font-size: 15pt;
}
.mailbutton a{
	text-decoration: none;
}

.inputValue{
	padding-left: 10px;
	display: inline-block;
	font-size: 14pt;
	border: 1px solid rgb(233, 235, 238); 
	color: rgb(96, 96, 108); 
	width: 273px;
}

.glyIcon{
	width: 20px;
	padding-top: 10px;
	margin-left: 20px;
}

.customfalse{
	color: #ac2925;
}
.customtrue{
	color: #5cb85c;
}
.customempty{
	color: #f0ad4e;
}

input{
	padding: 9px 5px;
}

body{
	padding-top: 100px;
}


