.navheader{
	margin: auto;
	width: 1170px;
	opacity: 1;
	font-size: 15pt;
}
.navbar-brand{
	padding: 0;
	height: 60px;
}
.navheader .nav{
	margin-top: 5px;
}
.navheader .navbar-form{
	margin-top: 15px;
}
.navigation{
	position: fixed;
}

.logButton{
	margin: 10px 10px;
	padding: 0;
}
.logButton a {
	width: 72px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;	
	color: black;
	font-size: 12px;
    line-height: 1.5;
}
.navbar-right .dropdown{
	display: none;
}
@media (max-width: 1200px){
	.navheader{
		width: 100%;
	}
}