.navheader{
	margin: auto;
	width: 1170px;
	opacity: 1;
	font-size: 15pt;
}
.navbar-brand{
	padding: 0;
	height: 60px;
}
.navheader .nav{
	margin-top: 5px;
}
.navheader .navbar-form{
	margin-top: 15px;
}
.navigation{
	position: fixed;
}

.body-bg{
	margin: auto;
	margin-top: 60px;
	padding: 0;
	position: relative;
	height: 1200px;
	overflow: hidden;
}

.bg-list{
	padding: 0;
	margin: 0;
	height: 1100px;
	position: absolute;

}
.bg-list ul{
	padding: 0;
	white-space: nowrap;
	margin-bottom: 0;
	display: flex;
}
.bg-controller ul li{
	cursor: pointer;
}
.bg-list li{
	list-style: none;
	display: inline-block;
	position: relative;
	margin: 0;
}
.bg-list li img{
	width: 1903px;
}
.bg-controller{
	height: 30px;
	position: relative;
	padding-left: 20px;
}
.pager{
	text-align: left;
}
.logButton{
	margin: 10px 10px;
	padding: 0;
}
.logButton a {
	width: 72px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;	
	color: black;
	font-size: 12px;
    line-height: 1.5;
}
#wel{
	display: none;
}
.navbar-right .dropdown{
	display: none;
}
@media (max-width: 1200px){
	.navheader{
		width: 100%;
	}
}